body
{
background:#090510;

}

.custonT1
{
font-family:Noto Sans Mono;
color:#fff;
text-shadow:0px 0px 1px #000;
}

.custonT2,.custonP1
{
font-family:arial;
color:#fff;
}


.letra
{
width:40px;
height:40px;
margin:3px;
background:#7C8179;
font-size:30px;
text-align:center;
font-family:arial;
}

#tagPalavra
{
background:rgba(20,19,31,0.9);
display:flex;
}


.desabilitado
{
opacity:.2;
}

#tagPalavra
{
margin:20px 0;

}